
.pulse-bg {
  background-image: url("/images/color pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100000vh;
  width: 100%;
}

.session-bg {
  background-image: url("/images/color pattern - session.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100000vh;
  width: 100%;
}

.platform-bg {
  background-image: url("/images/ecllipse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.platform-bg::before {
  content: "";
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/polygon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 1400px !important;
  filter: blur(1.5px);
}

.color-pattern-bg {
  background-image: url("/images/color pattern - small.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
}

.green-polygon-piece {
  background-image: url("/images/green polygon piece.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  width: 120px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.red-polygon-piece {
  background-image: url("/images/red polygon piece.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  width: 120px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.gradient-border-btn {
  position: relative;
  z-index: 0;
  border-radius: 9999px;
  background: transparent;
  border: 1px solid transparent;
}

.gradient-border-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 1px; /* border thickness */
  background: linear-gradient(180deg, #00ffe0, #bcefff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none;
}

.green-btn-bg {
  background-image: url("/images/green-btn-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 9999px;
}

.red-btn-bg {
  background-image: url("/images/red-btn-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 9999px;
}

.custom-cornered-bg {
  border: 2px solid #232323; /* Border color */
  background-color: #181818; /* Background color */
  border-top-right-radius: 24px; /* Only top-right corner rounded */
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 400px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
}

.main-body {
  background: rgba(255, 255, 255, 0.01) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) !important;
  border-radius: 20px;
  padding: 1px;
  width: 100%;
  position: relative;
  clip-path: polygon(
    0 0,
    calc(100% - 36px) 0,
    calc(100% - 34px) 0.5px,
    calc(100% - 32px) 1px,
    calc(100% - 30px) 2px,
    calc(100% - 2px) 30px,
    calc(100% - 1px) 32px,
    calc(100% - 0.5px) 34px,
    100% 36px,
    100% 100%,
    0 100%
  );
}

.main-body::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  border-radius: 20px;
  clip-path: polygon(
    0 0,
    calc(100% - 36px) 0,
    calc(100% - 34px) 0.5px,
    calc(100% - 32px) 1px,
    calc(100% - 30px) 2px,
    calc(100% - 2px) 30px,
    calc(100% - 1px) 32px,
    calc(100% - 0.5px) 34px,
    100% 36px,
    100% 100%,
    0 100%
  );
}

.main-body::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background: linear-gradient(
      45deg,
      transparent 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 51%,
      transparent 51%
    ),
    transparent;
}

.main-small-body {
  background: rgba(255, 255, 255, 0.01) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) !important;
  border-radius: 20px;
  padding: 1px;
  width: 100%;
  position: relative;
  clip-path: polygon(
    0 0,
    calc(100% - 24px) 0,
    calc(100% - 22px) 0.5px,
    calc(100% - 20px) 1px,
    calc(100% - 18px) 2px,
    calc(100% - 2px) 18px,
    calc(100% - 1px) 20px,
    calc(100% - 0.5px) 22px,
    100% 24px,
    100% 100%,
    0 100%
  );
}

.main-small-body::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  border-radius: 20px;
  clip-path: polygon(
    0 0,
    calc(100% - 24px) 0,
    calc(100% - 22px) 0.5px,
    calc(100% - 20px) 1px,
    calc(100% - 18px) 2px,
    calc(100% - 2px) 18px,
    calc(100% - 1px) 20px,
    calc(100% - 0.5px) 22px,
    100% 24px,
    100% 100%,
    0 100%
  );
}

.main-small-body::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  background: linear-gradient(
      45deg,
      transparent 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1) 51%,
      transparent 51%
    ),
    transparent;
}

.shineBg_body_top_left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  z-index: -1;
  background-image: url("/images/red-shine-top-left.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.green-shine-session {
  border-radius: 873px;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(20, 255, 0, 0.55) 0%,
    rgba(0, 240, 255, 0.62) 100%
  );
  filter: blur(139px);
  position: absolute;
  width: 873px;
  height: 873px;
  left: -200px;
  top: 3200px;
}

.red-purple-shine-session {
  border-radius: 1160.835px;
  opacity: 0.3;
  background: linear-gradient(-268deg, #e93249 30.53%, #20f 103.22%);
  filter: blur(139px);
  width: 1160.835px;
  height: 1000px;
  flex-shrink: 0;
  position: absolute;
  top: 3850px;
}

.green-shine-session-small {
  border-radius: 453px;
  opacity: 0.12;
  background: var(
    --firesight-platform-cyberpunk-green-stroke,
    linear-gradient(
      180deg,
      rgba(20, 255, 0, 0.55) 0%,
      rgba(0, 240, 255, 0.62) 100%
    )
  );
  filter: blur(139px);
  width: 453px;
  height: 453px;
  flex-shrink: 0;
  position: absolute;
  top: -150px;
  right: 0px;
}

.green-shine-session-2nd-small {
  border-radius: 602px;
  opacity: 0.12;
  background: var(
    --firesight-platform-cyberpunk-green-stroke,
    linear-gradient(
      180deg,
      rgba(20, 255, 0, 0.55) 0%,
      rgba(0, 240, 255, 0.62) 100%
    )
  );
  filter: blur(139px);
  width: 602px;
  height: 602px;
  flex-shrink: 0;
  position: absolute;
  top: 700px;
  right: -50px;
}
