.main-box {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(32px) !important;
  border-radius: 20px;
  position: relative;
}

.main-modal-box {
  background: rgba(255, 255, 255, 0.02) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(32px) !important;
  border-radius: 20px;
  position: relative;
}

.main-small-box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  position: relative;
}
.color-pattern-bg {
  background-image: url("/images/color pattern - red polygon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 265px;
  height: 217px;
  z-index: -1;
}

.shineBg_body_red_circle {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  opacity: 0.15;
  background: linear-gradient(134deg, #e93249 71.74%, #8078b4 100%);
  filter: blur(104px);
}

.green-shine-middle-right {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 602px;
  height: 950px;
  z-index: -1;
  background-image: url("/images/red-shine-middle-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
