.firesight-banner-bg {
  background-image: url("/images/banner.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top -150px;
  max-height: 100px;
  width: 100%;
}
